<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://yxsd-omo.oss-cn-beijing.aliyuncs.com/shanghu/apps/teacher.ipa</string>
		<key>displayImageURL</key>
		<string>https://yxsd-omo.oss-cn-beijing.aliyuncs.com/shanghu/teacher.57*57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://yxsd-omo.oss-cn-beijing.aliyuncs.com/shanghu/teacher.512*512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>teacher.yxsd.com</key>
		<string>teacher-product2</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>9ZQRUSN6XW</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
